# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# JWT & App
SECRET_KEY=
FRONTEND_URL=
APP_SECRET_KEY=
APP_REFRESH_SECRET_KEY=
APP_ALGORITHM=
APP_ACCESS_TOKEN_EXPIRE_MINUTES=
APP_REFRESH_TOKEN_EXPIRE_DAYS=
DEBUG=
